nav a img, #irimee-logo
{
    max-width: 70px;
    height: auto;
}

html, body
{
    background-color: rgb(12, 49, 85);
    height: 100%;
}

/* #station_details > .row:nth-of-type(even) , #art_details > .row:nth-of-type(even){
    background-color: rgb(124, 252, 209);
}

#station_details > .row:nth-of-type(2), #art_details > .row:nth-of-type(2){
    background-color: rgb(0, 190, 127);
}

#station_details .col, #art_details .col{
    border-right: 1px solid black;
} */

#map
{
    border: 1px solid black;
    padding: 0;
    height: 100%;
}

/* body{
    position: relative;
} */

#floating-menu
{
    position: absolute;
    background-color: rgba(238, 246, 255, 0.842);
    /* border: 1px solid aqua; */
    z-index: 1;
    width: 400px;
    top: 30%;
    left: 1%;
}

#details-div
{
    background-color: rgba(238, 246, 255, 0.8);
    position: absolute;
    /* max-width: 50%; */
    /* left: 50%; */
    right: 1%;
    top: 1%;
    z-index: 0;
}

#details-div-close
{
    position: absolute;
    right: 10px;
    top: 40px;
    z-index: 1;
}

#details-div table
{
    max-width: 100%;
}

.floating{
    box-shadow: 10px 10px 25px 5px lightslategrey;
    border-radius: 5px;
}
/* #station_details .row:nth-of-type(1) .col, #art_details .row:nth-of-type(1) .col
{
    background-color: rgba(238, 246, 255, 1);
} */

#floating-IR-icon
{
    position: absolute;
    height: 10%;
    left: 1%;
    top: 88%;
    z-index: 1;
}

#floating-irimee-icon
{
    position: absolute;
    height: 10%;
    left: 125px;
    top: 88%;
    z-index: 1;
}

#floating-rsam-text
{
    position: absolute;
    top: 1%;
    left: 1%;
    text-shadow: 0px 0px 20px floralwhite,
                1px 1px 20px lightslategray;
    z-index: 1;
}

.ol-zoom
{
    top: 20%;
    left: 1%;
}

.layer-switcher
{
    top: 20%;
}